In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('covid19_cleaned_data.csv')

In [4]:
data.head(5)

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.0,2020-01-01
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.0,2020-02-01
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.0,2020-03-01
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.0,2020-04-01
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.0,2020-05-01

# Rows and Columns in cleaned data

In [5]:
data.shape

(5568, 15)

# List of countries

In [6]:
data['country_name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Cura√ßao', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Ivory Coast',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Korea', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of the Congo',
       'Romania', 'Russia', 'Rwanda', 'R√©union', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'S√£o Tom√© and Pr√≠ncipe', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States Virgin Islands',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
data['country_name'].nunique()

232

# total number of confirmed cases worldwide

In [8]:
data.head(5)

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.0,2020-01-01
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.0,2020-02-01
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.0,2020-03-01
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.0,2020-04-01
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.0,2020-05-01

In [9]:
data[(data['year'] == 2020) & (data['month'] == 12)]

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
11,Afghanistan,2020,12,52586,2211,0,0,38928341,502.0,105925,12.040000,35.612903,0.135084,0.000000,2020-12-01
35,Albania,2020,12,58723,1186,249384,0,2862427,5352.0,52224,62.454839,0.000000,2.051511,23.547220,2020-12-01
59,Algeria,2020,12,99897,2756,0,0,43851043,3948.0,575805,72.220000,0.000000,0.227810,0.000000,2020-12-01
83,American Samoa,2020,12,0,0,0,0,55197,11466.0,0,0.000000,0.000000,0.000000,0.000000,2020-12-01
107,Andorra,2020,12,8117,84,124804,0,77265,40886.0,4881,53.497419,0.000000,10.505403,6.503798,2020-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5459,Vietnam,2020,12,1474,35,0,0,97338583,2715.0,1866459,53.476452,-13.903226,0.001514,0.000000,2020-12-01
5483,Wallis and Futuna,2020,12,4,0,0,0,11246,0.0,0,0.000000,0.000000,0.035568,0.000000,2020-12-01
5507,Yemen,2020,12,2105,611,0,0,29825968,968.0,100542,21.686774,32.322581,0.007058,0.000000,2020-12-01
5531,Zambia,2020,12,20997,390,609602,0,18383956,1291.0,45708,47.518387,11.774194,0.114214,3.444378,2020-12-01
5555,Zimbabwe,2020,12,14084,369,219933,0,14862927,1463.0,62661,68.425484,11.322581,0.094759,6.403768,2020-12-01

In [10]:
data[(data['year'] == 2020) & (data['month'] == 12)]['confirmed'].sum()

83553666

# country with the maximum total confirmed cases

In [11]:
data.groupby('country_name')['confirmed'].max().sort_values(ascending = False).head(1)

country_name
United States of America    53349300
Name: confirmed, dtype: int64

In [12]:
data.groupby('country_name')['confirmed'].max().sort_values(ascending = False).reset_index().head(1)

               country_name  confirmed
0  United States of America   53349300

# country with the minimum total deaths

In [13]:
data[data['deaths'] != 0].groupby('country_name')['deaths'].sum().sort_values().head(1)

country_name
Greenland    1
Name: deaths, dtype: int64

In [14]:
data[data['deaths'] != 0].groupby('country_name')['deaths'].sum().sort_values().reset_index().head(1)

  country_name  deaths
0    Greenland       1

# top 5 countries by total tests conducted

In [15]:
data.groupby('country_name')['tests'].max().sort_values(ascending = False).head(5)

country_name
United States of America    727619218
India                       678989110
United Kingdom              407981020
Russia                      240477547
France                      196391569
Name: tests, dtype: int64

In [16]:
data.groupby('country_name')['tests'].max().sort_values(ascending = False).reset_index().head(5)

               country_name      tests
0  United States of America  727619218
1                     India  678989110
2            United Kingdom  407981020
3                    Russia  240477547
4                    France  196391569

# average positivity rate (cases/tests) across all countries

In [17]:
# average positivity formulae will be = no. of cases / no.of test for each country
# additional we will calculate positive percentage for each country formulae = ( 1 - average positivity )*100

In [21]:
data_avg_positivity_rate = (data.groupby('country_name')['confirmed'].max() / data[data['tests'] != 0].groupby('country_name')['tests'].max()).reset_index(name = 'avg_positivity')
data_avg_positivity_rate

          country_name  avg_positivity
0          Afghanistan             NaN
1              Albania        0.147715
2              Algeria             NaN
3       American Samoa             NaN
4              Andorra        0.088977
..                 ...             ...
227            Vietnam        0.023291
228  Wallis and Futuna             NaN
229              Yemen             NaN
230             Zambia        0.086833
231           Zimbabwe        0.125211

[232 rows x 2 columns]

In [23]:
data_avg_positivity_rate['avg_positivity_percentage'] = ((1- data_avg_positivity_rate['avg_positivity'])*100).round(2)

In [24]:
data_avg_positivity_rate

          country_name  avg_positivity  avg_positivity_percentage
0          Afghanistan             NaN                        NaN
1              Albania        0.147715                      85.23
2              Algeria             NaN                        NaN
3       American Samoa             NaN                        NaN
4              Andorra        0.088977                      91.10
..                 ...             ...                        ...
227            Vietnam        0.023291                      97.67
228  Wallis and Futuna             NaN                        NaN
229              Yemen             NaN                        NaN
230             Zambia        0.086833                      91.32
231           Zimbabwe        0.125211                      87.48

[232 rows x 3 columns]

# growth rate of confirmed cases between two countries

In [25]:
# Compound Growth Rate -> CAGR=(First¬†Value/Last¬†Value‚Äã)**1/n ‚àí 1

In [26]:
country_1 = data[data['country_name'] == 'India']
country_1

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
2184,India,2020,1,5,0,0,0,243247,2104.0,831,2.151613,0.000000,2.055524e-03,inf,2020-01-01
2185,India,2020,2,7,0,0,0,1380004385,2104.0,13284271,10.190000,1.049674,5.072448e-07,inf,2020-02-01
2186,India,2020,3,1965,50,27688,0,1382611,2104.0,10047,54.524839,-21.665046,1.421224e-01,7.096937,2020-03-01
2187,India,2020,4,37336,1218,902654,0,1055450,2104.0,7284,98.643333,-72.479849,3.537448e+00,4.136247,2020-04-01
2188,India,2020,5,198706,5598,3837207,0,1382611,2104.0,10047,83.329677,-68.691675,1.437179e+01,5.178402,2020-05-01
2189,India,2020,6,604641,17834,8826585,0,4887813,2104.0,488189,87.500000,-52.062447,1.237038e+01,6.850226,2020-06-01
2190,India,2020,7,1750723,37364,19358659,0,60595,2104.0,539,87.500000,-51.203269,2.889220e+03,9.043617,2020-07-01
2191,India,2020,8,3769523,66333,43324834,0,4081148,2104.0,914536,85.650000,-44.121346,9.236428e+01,8.700606,2020-08-01
2192,India,2020,9,6394068,99773,75619781,0,243247,2104.0,831,85.033333,-31.156718,2.628632e+03,8.455549,2020-09-01
2193,India,2020,10,8229313,122607,109887303,0,36842,2104.0,10047,68.083548,-20.616307,2.233677e+04,7.488866,2020-10-01
2194,India,2020,11,9499413,138122,141349298,0,243247,2104.0,831,64.040000,-14.599354,3.905254e+03,6.720524,2020-11-01
2195,India,2020,12,10305788,149218,173111694,0,60595,2104.0,539,68.980000,-16.621719,1.700765e+04,5.953259,2020-12-01
2196,India,2021,1,10766245,154486,197092635,3758843,60595,2104.0,539,49.624113,-18.667811,1.776755e+04,5.462530,2021-01-01
2197,India,2021,2,11124527,157248,216858774,14301266,243247,2104.0,831,45.613479,-15.455048,4.573346e+03,5.129849,2021-02-01
2198,India,2021,3,12303131,163396,244798621,65117896,3673917,2104.0,49771,46.912227,-13.178956,3.348778e+02,5.025817,2021-03-01
2199,India,2021,4,19557457,215542,288337385,151998107,36842,2104.0,13284271,60.974647,-25.516398,5.308468e+04,6.782838,2021-04-01
2200,India,2021,5,28307832,335102,346792257,210449895,243247,2104.0,831,80.856413,-51.663948,1.163748e+04,8.162764,2021-05-01
2201,India,2021,6,30458251,400312,412021494,329158139,243247,2104.0,831,76.342372,-26.379790,1.252153e+04,7.392394,2021-06-01
2202,India,2021,7,31695958,424773,468216510,461518479,105597,2104.0,2632,67.893401,-12.988454,3.001596e+04,6.769509,2021-07-01
2203,India,2021,8,32857937,439529,523184293,644799225,105597,2104.0,13284271,63.606141,-5.279976,3.111635e+04,6.280375,2021-08-01
2204,India,2021,9,33791061,448573,570477338,886425292,243247,2104.0,831,57.047503,-2.058372,1.389167e+04,5.923296,2021-09-01
2205,India,2021,10,34296237,458880,609201294,1062631351,4174064,2104.0,2632,52.575032,7.133055,8.216510e+02,5.629705,2021-10-01
2206,India,2021,11,34606541,469724,642412315,1237055142,1458545,2104.0,17918,48.503123,16.161338,2.372676e+03,5.386967,2021-11-01
2207,India,2021,12,34889132,481770,678989110,1448865422,1382611,2104.0,10047,49.643039,14.975882,2.523424e+03,5.138393,2021-12-01

In [27]:
country_2 = data[data['country_name'] == 'United States of America']
country_2

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
5304,United States of America,2020,1,9,0,4,0,49710,65118.0,1435918,0.606973,0.000000,0.018105,225.000000,2020-01-01
5305,United States of America,2020,2,82,5,6447,0,802089,65118.0,22672,3.603680,6.106062,0.010223,1.271909,2020-02-01
5306,United States of America,2020,3,158732,3207,1686877,0,6785528,65118.0,270040,43.379063,-10.577960,2.339273,9.409815,2020-03-01
5307,United States of America,2020,4,916239,46759,7550390,0,82213,65118.0,3104,78.844333,-35.023029,1114.469731,12.134989,2020-04-01
5308,United States of America,2020,5,1626491,84925,19702700,0,689545,65118.0,22377,72.901929,-15.535301,235.878877,8.255168,2020-05-01
5309,United States of America,2020,6,2476880,106575,38249704,0,39538223,65118.0,1435918,64.467744,-3.090715,6.264520,6.475553,2020-06-01
5310,United States of America,2020,7,4406097,136747,66257905,0,7151502,65118.0,296692,61.505409,-2.663122,61.610792,6.649919,2020-07-01
5311,United States of America,2020,8,5874328,167154,92449482,0,1839106,65118.0,66092,61.008443,-4.963540,319.412149,6.354095,2020-08-01
5312,United States of America,2020,9,7084590,188859,120327456,0,6785528,65118.0,270040,56.963872,-5.849219,104.407350,5.887758,2020-09-01
5313,United States of America,2020,10,8998888,212679,156444102,0,7151502,65118.0,296692,55.185180,-6.642497,125.832140,5.752143,2020-10-01
5314,United States of America,2020,11,13444501,254791,205127934,0,733391,65118.0,13322,56.732513,-13.019200,1833.196890,6.554203,2020-11-01
5315,United States of America,2020,12,19694998,336170,259150908,5676202,39538223,65118.0,1435918,58.991464,-12.787972,49.812552,7.599818,2020-12-01
5316,United States of America,2021,1,25605016,432041,311032781,37900603,733391,65118.0,13322,58.577903,-18.677658,3491.318546,8.232256,2021-01-01
5317,United States of America,2021,2,27833375,495520,347815226,87960792,1839106,65118.0,66092,56.716477,-16.983223,1513.418748,8.002345,2021-02-01
5318,United States of America,2021,3,29508492,525938,387280880,172065192,689545,65118.0,22377,53.579950,-0.484377,4279.414977,7.619403,2021-03-01
5319,United States of America,2021,4,31266636,545458,424436560,262578626,39538223,65118.0,1435918,48.586282,2.337508,79.079518,7.366622,2021-04-01
5320,United States of America,2021,5,32145209,561376,452599084,313241810,6785528,65118.0,270040,44.409293,5.737720,473.731875,7.102358,2021-05-01
5321,United States of America,2021,6,32532211,570739,472770434,338687045,163622,65118.0,4802,39.252654,8.715255,19882.540856,6.881186,2021-06-01
5322,United States of America,2021,7,34050793,580100,494339348,355172268,82213,65118.0,3104,36.446961,9.167024,41417.772128,6.888141,2021-07-01
5323,United States of America,2021,8,38266551,613747,538101058,379463671,35385,65118.0,1580,34.414603,7.264595,108143.425180,7.111406,2021-08-01
5324,United States of America,2021,9,42340798,669555,587533446,402170235,39538223,65118.0,1435918,33.090622,4.437520,107.088267,7.206534,2021-09-01
5325,United States of America,2021,10,44791056,714505,631386671,431491229,35385,65118.0,1580,32.706811,3.880433,126582.043239,7.094077,2021-10-01
5326,United States of America,2021,11,47356230,748119,673848613,473691304,689545,65118.0,22377,34.320859,0.138987,6867.750473,7.027725,2021-11-01
5327,United States of America,2021,12,53349300,790032,727619218,520025067,39538223,65118.0,1435918,34.627221,0.694649,134.930950,7.332036,2021-12-01

In [28]:
country_1_CAGR = (((country_1['confirmed'].max()/country_1['confirmed'].min())**(1/24) -1 )*100)
country_1_CAGR

92.8213000633084

In [29]:
country_2_CAGR = (((country_2['confirmed'].max()/country_2['confirmed'].min())**(1/24) -1 )*100)
country_2_CAGR

91.5153516878346

# correlation between number of tests and number of confirmed cases

In [30]:
data.head()

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.0,2020-01-01
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.0,2020-02-01
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.0,2020-03-01
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.0,2020-04-01
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.0,2020-05-01

In [32]:
data_matrix = data[['tests','confirmed']].corr()
data_matrix

              tests  confirmed
tests      1.000000   0.903888
confirmed  0.903888   1.000000

# Rank countries by infection rate

In [34]:
data['Rank'] = data['infection_rate'].rank(ascending = False)
data

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date,Rank
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.000000,2020-01-01,5266.0
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.000000,2020-02-01,4647.0
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.000000,2020-03-01,4711.0
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.000000,2020-04-01,3320.0
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.000000,2020-05-01,2330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,Zimbabwe,2021,8,124960,4438,1142911,4219824,14862927,1463.0,62661,73.865484,31.645161,0.840750,10.933485,2021-08-01,2466.0
5564,Zimbabwe,2021,9,131028,4624,1273779,5346026,14862927,1463.0,62661,62.809333,52.000000,0.881576,10.286557,2021-09-01,2444.0
5565,Zimbabwe,2021,10,133007,4679,1375479,5911588,14862927,1463.0,62661,46.412903,60.483871,0.894891,9.669868,2021-10-01,2438.0
5566,Zimbabwe,2021,11,135337,4707,1464011,6611942,14862927,1463.0,62661,52.471000,58.300000,0.910568,9.244261,2021-11-01,2428.0
5567,Zimbabwe,2021,12,214214,5017,1710825,7264791,14862927,1463.0,62661,59.947742,59.451613,1.441264,12.521094,2021-12-01,2175.0

# Rank countries by mobility rate

In [36]:
data['Rank_mobility'] = data['avg_mobility'].rank(ascending = False)
data

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date,Rank,Rank_mobility
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.000000,2020-01-01,5266.0,2175.5
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.000000,2020-02-01,4647.0,849.0
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.000000,2020-03-01,4711.0,3951.0
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.000000,2020-04-01,3320.0,5280.0
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.000000,2020-05-01,2330.0,5193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,Zimbabwe,2021,8,124960,4438,1142911,4219824,14862927,1463.0,62661,73.865484,31.645161,0.840750,10.933485,2021-08-01,2466.0,152.0
5564,Zimbabwe,2021,9,131028,4624,1273779,5346026,14862927,1463.0,62661,62.809333,52.000000,0.881576,10.286557,2021-09-01,2444.0,56.0
5565,Zimbabwe,2021,10,133007,4679,1375479,5911588,14862927,1463.0,62661,46.412903,60.483871,0.894891,9.669868,2021-10-01,2438.0,39.0
5566,Zimbabwe,2021,11,135337,4707,1464011,6611942,14862927,1463.0,62661,52.471000,58.300000,0.910568,9.244261,2021-11-01,2428.0,41.0
5567,Zimbabwe,2021,12,214214,5017,1710825,7264791,14862927,1463.0,62661,59.947742,59.451613,1.441264,12.521094,2021-12-01,2175.0,40.0

# Date when a India country reported its highest number of cases

In [42]:
data_india_max = data[data['country_name'] == 'India']['confirmed'].max()
data_india_max

34889132

In [46]:
data[data['confirmed'] == data_india_max]['date']

2207    2021-12-01
Name: date, dtype: object

# top 10 countries with the strongest correlation between testing and confirmed cases

In [57]:
data.groupby('country_name')[['tests','confirmed']].corr()

                           tests  confirmed
country_name
Afghanistan  tests           NaN        NaN
             confirmed       NaN   1.000000
Albania      tests      1.000000   0.977700
             confirmed  0.977700   1.000000
Algeria      tests           NaN        NaN
...                          ...        ...
Yemen        confirmed       NaN   1.000000
Zambia       tests      1.000000   0.988022
             confirmed  0.988022   1.000000
Zimbabwe     tests      1.000000   0.984542
             confirmed  0.984542   1.000000

[464 rows x 2 columns]